<!DOCTYPE html>
<html>
<head>
  <title>MilkaProjekt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header" style="text-align: center">
  <h1>User configuration</h1>
</div>
<%= link_to "New user", usernew_path %>
<%= link_to "Users view", '/users/view' %>
<%= yield %>
<div class="footer" style="text-align: center">
    <h4>milka coop...</h4>
</div>
</body>
</html>
